/bin/
*/target/
*/WebContent/
*bin/
*workspace/
*data/
*~
# exclude hidden R data files.                                                                                                                                                                          
*.Rhistory
*.RData
# exclude hidden osx data files.                                                                                                                                                                        
.DS_Store
temp
.~lock.*
# Exclide IDE related files:
*eclipse*
.idea/
*.settings/
*.iml
# Hide template classes.
# app/src/main/java/api/v1/handlerTemplate/
# app/src/main/java/api/v1/TypeRequestHandler.java
# app/src/main/java/api/v1/repo/TypeRepository.java
# app/src/main/java/api/v1/model/Type.java
