/bin/
/target/
*bin/
*workspace/
*data/
*~
# exclude hidden R data files.                                                                                                                                                                          
*.Rhistory
*.RData
# exclude hidden osx data files.                                                                                                                                                                        
.DS_Store
temp
.~lock.*
*eclipse*
.idea/
