<div>
	<h2>Welcome to your dashboard!</h2>
	<div class="col-md-8 col-md-offset-0">
		<!-- Quick Add section -->
		<p class="text-center">
			<a class="btn btn-default" role="button" ng-click="openAddTaskModal()">Add Task</a>&nbsp;
			<a class="btn btn-default" role="button" ng-click="openAddEventModal()">Add Event</a><br />
		</p>
		
		<!-- Top pending tasks section -->
		<h3>Top Pending Tasks:</h3><br />
		<table class="table table-hover">
		<tr>
			<th>Task Name</th>
			<th>Task Deadline</th>
		</tr>
		<tr ng-repeat="t in importantTasks">
			<td>{{ t.name }}</td>
			<td>{{ t.deadline }}</td>
		</tr>
		</table>
	</div>
	<div class="col-md-4 col-md-offset-0">
		<!-- Today's schedule section -->
		<h3>Today's Schedule:</h3><br />
		<table class="table table-hover">
			<tr ng-repeat="ts in timeslot">
				<td>{{ ts.time }}</td>
				<td>{{ ts.contents }}</td>
			</tr>
		</table>
	</div>
</div>	