<div class="container col-md-6 col-md-offset-3">
	<div class="panel panel-primary">
		<div class="panel-heading">
				<h3 class="panel-title">Please Login:</h3>
		</div>
		<div class="panel-body">
			<div ng-show="LoginController.error_message" class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				{{ LoginController.error_message }}
			</div>
			<form name="form" role="form">
			  <div class="form-group">
				<label for="loginEmail">Email address:</label>
				<input type="email" class="form-control" id="loginEmail" ng-model="LoginController.email" placeholder="Email" required>
			  </div>
			  <div class="form-group">
				<label for="loginPassword">Password:</label>
				<input type="password" class="form-control" id="loginPassword" ng-model="LoginController.password" placeholder="Password" required>
			  </div>
			  <button type="submit" ng-disabled="form.$invalid" ng-click="login()" class="btn btn-primary btn-md">Submit</button><br />
			  <span ng-show="LoginController.fetchingData">Loading... Please wait</span>
			</form><br />
			<a href="#/register">Register</a>
		</div>
	</div>	
</div>