<div>
	<h2>Please Fill out Registration Form:</h2><br />
	<form name="form" role="form">
	  <div class="form-group">
		<label for="registerEmail">Email address:</label>
		<input type="email" class="form-control" id="registerEmail" ng-model="RegisterController.email" placeholder="Email" required>
	  </div>
	  <div class="form-group">
		<label for="registerPassword">Password:</label>
		<input type="password" class="form-control" id="registerPassword" ng-model="RegisterController.password" placeholder="Password" required>
	  </div>
	  <div class="form-group">
		<label for="registerConfirmPassword">Confirm Password:</label>
		<input type="password" class="form-control" id="registerConfirmPassword" ng-model="RegisterController.confirmPassword" placeholder="Password" required>
	  </div>
	  <button type="submit" ng-disabled="form.$invalid" ng-click="register()" class="btn btn-primary">Submit</button><br />
	  <span ng-show="RegisterController.fetchingData">Loading... Please wait</span>
	</form><br />
	<a href="#/login">Log in.</a>
</div>	